.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: rgb(36, 49, 82);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: rgb(36, 49, 82);
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid rgb(82, 96, 134);
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}
.container ul li:hover{
    background-color: rgb(36, 49, 82);
    color: white;
}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: rgb(69, 36, 82);
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container button:disabled{
    background-color: grey;
    cursor: not-allowed;
}
.container .index{
    margin:auto;
    font-size: 18px;
}
